/* Contact styles */
#contact-infos {
    position: relative;
    z-index: 10;
    margin-top: 65px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    a:last-child {
        margin-top: 22px;
        i {
            padding-right: 12px;
        }
    }
}

@media screen and (min-width: 768px) {
    #contact-infos {
        max-width: 700px;
        flex-direction: row;
        justify-content: space-between;
        max-width: 800px;
        a:last-child {
            margin-top: 0;
        }
    }
}

@media screen and (min-width: 1200px) {
   #contact-infos {
    max-width: 800px;
   }
}