/* Header styles */
header#main-header {
    position: fixed;
    z-index: 101;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);

    .logo-wrapper {
        position: relative;
        top: -45px;
        left: -68px;
        transform: translate(0);
        transition: transform ease 1s 0.12s;
        img {
            width: 165px;
            
        }
        &.move-out {
            transform: translate(-110%, -110%);
        }
        &.move-in {
            transform: translate(0, 0);
        }
    }

    .contact-btn-wrapper {
        position: absolute;
        top: -105px;
        right: -105px;
        width: 207px;
        height: 207px;
        border-radius: 500px;
        background-color: var(--primary);

        a.main-contact-btn {
            display: none;
            border-radius: 500px;
            width: 100%;
            height: 100%;

            i {
                position: absolute;
                left: 47px;
                bottom: 42px;
                color: var(--dark);
                font-size: 32px;
                padding-top: 65px;
            }
            &#mail-btn {
                display: none;
            }
            &#tel-btn {
                display: block;
            }
        }
    }
}

.theme-switch {
    width: 50px;
    background-color: darken($dark, 8%);
    border-radius: 100px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 10px;
    height: 22px;
    cursor: pointer;
    .switch {
        position: absolute;
        border-radius: 100px;
        top: 50%;
        left: 1px;
        transform: translate(0, -50%);
        width: 20px;
        height: 20px;
        background-color: var(--primary);
        transition: all ease-in-out 0.18s;
        &.switched {
            transform: translate(28px, -50%) !important;
        }
    }
    &.switched {
        background-color: darken($light, 8%) !important;
    }
}

.headroom--unpinned {
    transition: transform ease 0.25s 0.15s;
    transform: translateY(-110%);
}

.headroom--pinned {
    transition: transform ease 0.45s 0.25s;
    transform: translateY(0);
}

@media screen and (min-width: 576px){
    .theme-switch {
        right: 160px;
    }
}

@media screen and (min-width: 768px){
    header#main-header #tel-btn {
        display: none !important;
    }
    header#main-header #mail-btn {
        display: block !important;
    }
}

@media screen and (min-width: 1200px){
    $header-height: 5rem;
    header#main-header {
        height: $header-height;
    }
}

body.light-mode {
    header#main-header a.main-contact-btn i {
        color: var(--light);
    }
}