/* Variables */
:root {
    --primary: #5252EE;
    --secondary: #00C5D9;
    --light: #FAFAFF;
    --text-color: #292A2B;
    --header-height: 8rem;
}
$primary: #5252EE;
$secondary: #00C5D9;
$light: #FAFAFF;
$header-height: 8rem;