/* Variables */
:root {
    --primary: #66E3F6;
    --secondary: #5252EE;
    --light: #FAFAFF;
    --text-color: #FAFAFF;
    --dark: #141819;
    --header-height: 8rem;
}
$primary: #66E3F6;
$secondary: #5252EE;
$light: #FAFAFF;
$dark: #141819;
$header-height: 8rem;